input.form-control{
    width: 300px;
}

aside.main-sidebar {
   margin: 30px;               /* メニューバー外側の余白(ゼロ) */
   padding: 0px 0px 0px 0px; /* メニューバー内側の余白(左に15px) */
   background-color: #c70067; /* バーの背景色(濃い赤色) */
   color: #dd0000;
   width: 8%;
}

header.logo a{
    margin: 0px;               /* メニューバー外側の余白(ゼロ) */
   padding: 0px 0px 0px 0px; /* メニューバー内側の余白(左に15px) */
   background-color: #c70067; /* バーの背景色(濃い赤色) */
   color: #c70067;
   width: 0%;
    
}


