input.form-control{
    width: 300px;
}

ul.sidebar-menu li{
   margin: 0px;               /* メニューバー外側の余白(ゼロ) */
   padding: 0px 0px 0px 0px; /* メニューバー内側の余白(左に15px) */
   background-color: #636b6f; /* バーの背景色(濃い赤色) */
   width: 100%;
}


