input.form-control{
    width: 300px;
}

aside.main-sidebar {
   margin: 20px;               /* メニューバー外側の余白(ゼロ) */
   padding: 0px 0px 0px 0px; /* メニューバー内側の余白(左に15px) */
   background-color: #c70067; /* バーの背景色(濃い赤色) */
   width: 10%;
}


