<!doctype html>
<html lang="{{ app()->getLocale() }}">
    <head>
    	<title>ヤンマー特約店／青森県西津軽深浦町／齊敏機械／マリンプレジャー/建設機械/エネルギー/テクノロジーの販売・整備・修理・加工</title>
    	<link rel="stylesheet" href="./CSS/test.css" media="all">
    </head>
    <body class="samplebody" >
        <header>
                <div class="box2">
                    <nav id="">
                        <ul class="top_menu">
                            <li class="">
                                <a href="地域密着.html">地域密着事業</br>コアコンピタンスの強化</br></a>
                                <ul class="top_menu"></ul>
                            </li>
                            <li class="">
                                <a href="YANMAR販売.html">YANMAR販売</br>卸売・小売（店頭、ネット）</br></a>
                                <ul class="top_menu"></ul>
                            </li>     
                            <li class="">
                                <a href="YANMAR市場.html">YANMAR市場サービス</br>メンテナンス・整備、修理</a>
                                <ul class="top_menu"></ul>
                            </li> 
                            <li class="">
                                <a href="中古販売.html">中古販売（店頭、ネット）</br>漁船・プレジャーボート・エンジン等</a>
                                <ul class="top_menu"></ul>
                            </li>
                            <li class="">
                                <a href="さいとし.html">TOP MENU</br></a>
                                <ul class="top_menu"></ul>
                            </li>
                        </ul>
                     </nav>
                </div> 
        </header> 

        <div> 
             <div>
            <div class="coprorate_vision text_center">
                    <img src="./image/kijyourinen.png" width="100%" height="50%" alt="TO NEW GENERATION" />
                    <div>
                    	<h3>
                        	弊社は、創業から４０年の月日が流れました。<br/>
                        	これも、皆様の支えがあったからこそと、深く感謝を申し上げ致します。<br/>
                        	また、○年後に創業５０周年という大きな節目を迎えるにあたり、<br/>
                        	齊敏機械は、最先端の技術と経営を学んで来ました、<br/>
                        	創業者の息子「齊藤涼太」を経営陣に招き入れ<br/>
                        	経営方針を一新、新たな企業理念と６つのマニフェストを掲げます。<br/>
                    	</h3>
                    </div>  
                </div>
            </div> 
        </div>
        <div class="box03">
        	<img src="./image/kigyourinen.png" width="105.5%" height="100%" alt="企業理念、マニフェスト" />
        </div>
        <div class="box04">
                <h6>
                	<h5>企業理念</h5>
                    	
                       	&ensp;&ensp;TO NEW GENERATION
                       
                        <h5>マニフェスト</h5>
                        1.プロフェッショナルからゼネラリスト<br/>
                      	&ensp;&ensp;(エンジンサポートのみではなく、サービス全体をサポート致します。)<br/>
                        <br/>
                        2.ナレッジの公開<br/>
                    	&ensp;&ensp;(積極的なイベントの開催・参加を行いインターネットを通じて情報の公開致します。)<br/>
                        <br/>
                        3.経営システムのブラッシュアップ<br/>
                        &ensp;&ensp;(経営システムの見直しを行い、知的財産のデータ化などIT技術の導入致します。)<br/>
                        <br/>
                  		4.コアコンピタンスの強化<br/>
                     	&ensp;&ensp;(地域密着型という利点を強化し、質の高いサポートをお届け致します。)<br/>
                        <br/>
                       	5.アフターサービスの充実<br/>
                      	&ensp;&ensp;(お客様により満足して頂くために、多種多様なニーズに対応致します。)<br/>
                        <br/>
                       	6.ワークライフバランス<br/>
                        &ensp;&ensp;(生産性の向上は生活の充実からという思想から安全第一を心掛け致します。)<br/>  
                </h6>
            </div>
            <div class="box_textC">
            	<h2>
            	経営陣挨拶<br/>
            	</h2>
            </div>
            <div class="box3">
            	<img src="./image/IMG_1365.JPG" width="30%" height="80%" alt="齊藤敏昭" />
            </div>
            <div class="box4">
                <h5>
                  	代表取締役社長：齊藤敏昭<br/>
                  	<br/>
                  	弊社は、創業４５年を迎え１つの節目である５０周年を間近に控えることとなりました。<br/>
                  	これも長きに渡りお付き合い下さった皆様のご助力を深く感謝いたします。<br/>
                  	創業５０周年を迎えるにあたりこれからの未来のため世代交代を思い立ちまして、<br/>
                  	息子である「齊藤涼太」を経営陣に迎え入れ、会社を一新いたします。<br/>
                  	新たな改革として、会社の企業理念を「To New Genararion（新たなる世代へ)」とし、<br/>
                  	６つのマニフェストを掲げ、お客様のより多くのニーズにお応え致します。<br/>
                  	また、全国・世界へ視野を広げた経営をしていくため、<br/>
                  	SNS（公式LINE、facebook、Instagram）を開設し、ネットワークからの仕事等の依頼も承ります。<br/>
                  	これらのSNS、HPは業者に制作の委託をする事をせず、息子が全て１から作り上げたもので、<br/>
                  	これからの弊社に向けた強い意識の現れだと感じております。<br/>
					長くなりましたが、これまでと全く違う齊敏機械にすることを約束いたします。<br/>
					<br/>
					今後とも末長く齊敏機械をよろしくお願い致します。<br/>
					<br/><br/>
				</h5>
			</div>
			<div class="box3">
				<h5>
					取締役副社長　兼　営業部長：齊藤涼太<br/>
					<br/>
					副社長兼営業部長という肩書を拝命致しました。齊藤涼太と申します。<br/>
					私は、弊社の弱点である時代の遅れという部分を改善するために「近代化」という目標を掲げた経営改革を行い、<br/>
					作業場、資料などからなる全ての要素を「システム化」致します。<br/>
					具体的な例として、これまで人の手で行われていた書類作成作業を、全てシステムにより管理致します。<br/>
					全てをシステムに任せる事で、今まで約５時間かかっていた仕事が１時間もかからず終えることができます。<br/>
					この差し引いた４時間という時間で、私はより多くの「お客様のニーズに応える。」という経営をしていきます。<br/>
					そして、"YANMAR"というブランドだけにこだわらず"YAMAHA"ブランド等の舶用機器にも対応し、<br/>
					多種多様な経営を行い地元のお客様がわざわざ遠くの店舗まで足を運ぶことのないよう、<br/>
					地域密着型という「強み」をより強化します。<br/>
					終わりに、私の座右の銘に【有言実行】という言葉があります。<br/>
					私は、自分で決めた事、発言した事柄は最後までやり遂げる人間だと自負しております。<br/>
					それを陸上競技に取り組んだ過去が物語っていると思います。<br/>
					まだまだ未熟な部分があるかと思いますが、これから末長くよろしくお願い致します。<br/>
					<br/>
                    経歴<br/>
                    齊藤涼太（1995年7月8日生）<br/>
                    青森県西津軽郡深浦町出身。高校までを地元で過ごす。<br/>
                    修道小学校<br/>
                    大戸瀬中学校<br/>
                    五所川原工業高校<br/>
                    札幌学院大学<br/>
                    ヤンマー学院　卒業<br/>
                    高校時代は、機械科で機械に関する基礎知識を学ぶ、<br/>
                    大学では経営学部に所属し、IT,FP,MG,マーケティング,リスクマネジメント,会社法等、最先端の経営学を学ぶ、<br/>
                    大学卒業後ヤンマー学院に入学し、舶用全般の営業、経営管理、整備、そして最先端の機械技術（ECU等）を学び資格を多数習得、<br/>
                    ヤンマー学院卒業後、地元に戻り父の家業を継ぎ現在に至る。<br/>
                    また、中学、高校、大学と陸上競技に取り組み、大学時代には多数のタイトルを獲得し、大学三大駅伝『全日本大学駅伝」にも出場。<br/>
                    北海道学生個人選手権では4連覇達成。北海道学生記録を保持（２０１８年４月現在）<br/>
                </h5>
            </div>
            <div class="box4">
				<img src="./image/ryouta.png" width="100%" height="100%" alt="齊藤涼太" />
			</div>
            <div class="box1">
	    		<footer>
	    			<div id="footer">
                        <ul>
                            <li><a href="さいとしQ&A３.html">CORPORATE VISION</a></li>
                            <li><a href="https://www.yanmar.com/jp/marinepleasure/">LINE UP</a></li>
                            <li><a href="さいとしCOMPANY２.html">BUSINESS</a></li>
                            <li><a href="サポート.html">SUPPORT</a></li>
                            <li><a href="プライベートポリシー.html">プライバシーポリシー</a></li>
                            <li><a href="利用規約.html">利用規約</a></li>
                            <li><a href="特定商取引法に基づく表示.html">特定商取引法に基づく表示</a></li>
                        </ul>

                        <p>Copyright(C) 2018 株式会社　SRMホールディングス. All right reserved.</p>
                    </div>             
	    		</footer>
    		</div>
                
    </body>
</html>   