<!doctype html>
<html lang="{{ app()->getLocale() }}">
    <head>
        <title>ヤンマー特約店／青森県西津軽深浦町／齊敏機械／ヤンマー舶用製品、マリンプレジャーの販売・整備・修理・加工</title>
        <link rel="stylesheet" href="./CSS/test.css" media="all">
    </head>
    <body class="samplebody">
        <header>
                <div class="box2">
                    <nav id="">
                        <ul class="top_menu">
                            <li class="">
                                <a href="さいとしCOMPANY２.html">BUSINESS</br>TOP</br></a>
                                <ul class="top_menu"></ul>
                            </li>
                            <li class="">
                                <a href="YANMAR販売.html">YANMAR販売</br>卸売・小売（店頭、ネット）</br></a>
                                <ul class="top_menu"></ul>
                            </li>                                 
                            <li class="">
                                <a href="YANMAR市場.html">YANMAR市場サービス</br>メンテナンス・整備、修理</a>
                                <ul class="top_menu"></ul>
                            </li> 
                            <li class="">
                                <a href="中古販売.html">中古販売（店頭、ネット）</br>漁船・プレジャーボート・エンジン等</a>
                                <ul class="top_menu"></ul>
                            </li>
                            <li class="">
                                <a href="さいとし.html">TOP MENU</br></a>
                                <ul class="top_menu"></ul>
                            </li>
                        </ul>
                    </nav>
                </div> 
        </header> 
            <img src="./image/tiikimittyaku.png" width="100%" height="100%" alt="地域密着事業" class=""> 
        <footer>
           <div id="footer">
            <ul>
                <li><a href="さいとしQ&A３.html">CORPORATE VISION</a></li>
                <li><a href="https://www.yanmar.com/jp/marinepleasure/">LINE UP</a></li>
                <li><a href="さいとしCOMPANY２.html">BUSINESS</a></li>
                <li><a href="サポート.html">SUPPORT</a></li>
                <li><a href="プライベートポリシー.html">プライバシーポリシー</a></li>
                <li><a href="利用規約.html">利用規約</a></li>
                <li><a href="特定商取引法に基づく表示.html">特定商取引法に基づく表示</a></li>
            </ul>

            <p>Copyright(C) 2018 株式会社　SRMホールディングス. All right reserved.</p>
        </div>             
        </footer>
    </bory>
</html>